{% extends 'fitapp/base.html' %}
{% load socialaccount %}

{% block content%}
<div class="embed-responsive embed-responsive-16by9" style="width: 720px; height: 405px; margin: auto;">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZXsQAXx_ao0" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </p>
</div>


{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}!</p>

{% else %}
<div class="text-center" style="margin: 10px 10px 10px 10px">
    <a class="btn btn-primary" href="{% provider_login_url 'google' %}">Login with Google</a>
</div>
{% endif %}

{% endblock %}