{% load socialaccount %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-light bg-info" style="margin: 0px 0px 10px 0px;">
        <span class="navbar-brand mb-0 h1">Fitter Late Than Never</span>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div class="embed-responsive embed-responsive-16by9" style="width: 720px; height: 405px; margin: auto;">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZXsQAXx_ao0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </p>
    </div>


    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} !</p>

    {% else %}
    <div class="text-center" style="margin: 10px 10px 10px 10px">
        <a class="btn btn-primary" href="{% provider_login_url 'google' %}">Login with Google</a>
    </div>
    {% endif %}

</body>

</html>