{% extends 'fitapp/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block head %}
<meta property="og:url" content="https://project-b-08.herokuapp.com/" />
<meta property="og:title" content="Fitter Late Than Never" />
<meta property="og:description" content="Share your recent workout today!" />
<meta property="og:image" content="https://images.emojiterra.com/twitter/512px/1f4aa.png" />
{% endblock %}

{% block content %}
<tl class="h1">{{log.owner.user.first_name}}'s {{log.date}} {{log.area}} Workout</tl>
<br>
<br>
<tr>Exercise: {{log.exercise}}</tr>
<br>
<tr>Date: {{log.date}}</tr>
<br>
<tr>Duration: {{log.duration}}</tr>
<br>
<tr>Intensity: {{log.intensity}}</tr>
<br>
<tr>Area: {{log.area}}</tr>
<br>
<tr>Owner: {{log.owner.user.first_name}}</tr>

{% if log.owner.user == user %}
    <form  action="{% url 'fitapp:deleteLog' log.id%}">
        <br><button type="submit" class="btn">Delete this log</button>
    </form>
{% endif %}

<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Your share button code -->
<div class="fb-share-button" data-href="/fitapp/viewLogs/{{log.id}}" data-layout="button_count">
</div>

<!-- Comments Feature -->

<div class="container">
    <div class="row">


        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- comments -->
                <h2>{{ comments.count }} comments</h2>

                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                <h3>Leave a comment</h3>
                <form action="{% url 'fitapp:post_detail' log.id%}" method="post" style="margin-top: 1.3em;">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="text-area" placeholder="Title" name="name">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="5"  type="text-area" placeholder="Comment" name="body"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>







{% endblock %}