<!--
REFERENCES
*  Title: JavaScript to output html range slider values for multiple sliders
*  Author: Philipp, Kenny
*  Date: Jun 12 '19
*  URL:   https://stackoverflow.com/questions/56562129/javascript-to-output-html-range-slider-values-for-multiple-sliders
-->

{% extends 'fitapp/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content%}
<h1 style="text-align: center"> Submit Log </h1>
<h5 style="text-align: center">Record your exercises here! The longer and more intense your workout is, the more XP you'll earn!</h5>
<br>


<form action="{% url 'fitapp:updatelogs' user.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
<!-- JavaScript to output html range slider values for multiple sliders code -->
    <div>
        <p>Minutes/Repetitions: <span id="demo"></span></p>
      </div>
      <script>
      var slider = document.getElementById("myRange");
      var output = document.getElementById("demo");
      output.innerHTML = slider.value;
      slider.oninput = function() {
        output.innerHTML = this.value;
      }
      </script>
<!-- JavaScript to output html range slider values for multiple sliders code -->
    <input type="submit" value="Submit">
</form>

<br><br><br>

{% endblock %}

