{% extends 'fitapp/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block head %}
<meta property="og:url" content="https://project-b-08.herokuapp.com/" />
<meta property="og:title" content="Fitter Late Than Never" />
<meta property="og:description" content="Share your recent workout today!" />
<meta property="og:image" content="https://images.emojiterra.com/twitter/512px/1f4aa.png" />
{% endblock %}

{% block content %}
<tl class="h1">{{log.owner.user.first_name}}'s {{log.date}} {{log.area}} Workout</tl>
<br>
<br>
<tr>Exercise: {{log.exercise}}</tr>
<br>
<tr>Date: {{log.date}}</tr>
<br>
<tr>Duration: {{log.duration}} minutes/repetitions</tr>
<br>
<tr>Intensity: {{log.intensity}}</tr>
<br>
<tr>Area: {{log.area}}</tr>
<br>
<tr>Owner: {{log.owner.user.first_name}}</tr>

<!-- Comments Feature -->

<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- comments -->
                <h2>{{ comments.count }} comments</h2>
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>







{% endblock %}